body{
    background-color: aqua;
}
#container{
    width: 680px;
    background-color: bisque;
    margin: 0px auto;
    padding: 10px 20px;
}
h1,body{
    margin: 0px;
}
header{
    text-align: center;
}
header h1{
   color: aliceblue;
   text-shadow: 5px 5px 10px black;
}
.poto{
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 5px 5px 10px black;
}